* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.55) !important;
}

a:hover {
  color: pink !important;
}

a:active {
  color: pink !important;
}

a:visited {
  color: rgba(0, 0, 0, 0.55) !important;
}

.contact-button {
  width: 100%;
}

.contact-button:hover {
  border-color: pink !important;
  color: rgba(0, 0, 0, 0.55) !important;
  background-color: pink !important;
}

.my-10 {
  margin: 6rem auto !important;
}

.thumbnail {
  padding: 0 0.5rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.thumbnail-parent {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.thumbnail-parent > .slick-prev:before,
.thumbnail-parent > .slick-next:before {
  /* color: rgba(0, 0, 0, 0.55) !important; */
}

.slick-center {
  box-shadow: rgba(0, 0, 0, 0.55);
}
