* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.55) !important;
}

a:hover {
  color: pink !important;
}

a:active {
  color: pink !important;
}

a:visited {
  color: rgba(0, 0, 0, 0.55) !important;
}

.contact-button {
  width: 100%;
}

.contact-button:hover {
  border-color: pink !important;
  color: rgba(0, 0, 0, 0.55) !important;
  background-color: pink !important;
}

.my-10 {
  margin: 6rem auto !important;
}
